/* ./assets/css/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply lg:px-24 lg:pt-48 lg:w-full lg:min-h-screen lg:my-0 lg:mx-auto
    md:px-8 md:pt-48 sm:px-8 sm:pt-36 px-4 pt-24;
  }
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

p {
  @apply font-notoSans text-secondary03;
}

h1 {
  @apply font-notoSerif text-[32px] tracking-wide;
}

h2 {
  @apply font-notoSans text-xl tracking-wide text-secondary04;
}

h3 {
  @apply font-notoSerif text-[20px] text-primaryDark;
}

li {
  @apply font-notoSans text-secondary03;
}

a {
  @apply font-sans;
}

.fillHeight {
  @apply lg:px-36 lg:py-0 md:px-24 md:py-0 sm:px-12 sm:py-0 px-6 py-0;
}
