/* ./assets/css/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply lg:max-w-4xl lg:w-full lg:min-h-screen lg:my-0 lg:mx-auto
    sm:px-8 px-4 bg-secondary01;
  }
}

html {
  scroll-behavior: smooth;
  @apply bg-secondary01 box-border w-full;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

h1 {
  @apply font-notoSerif font-bold text-[32px] tracking-wide;
}

h2 {
  @apply font-notoSans text-xl tracking-wide text-secondary04;
}

h3 {
  @apply font-notoSerif font-black text-[20px] text-primaryDark;
}

p {
  @apply font-notoSans text-secondary04 text-lg font-light;
}

.imgDescription {
  @apply font-notoSans text-sm text-secondary03 tracking-wide;
}

li {
  @apply font-notoSans text-secondary03;
}

a {
  @apply font-sans;
}

.fillHeight {
  @apply lg:px-36 lg:py-0 md:px-24 md:py-0 sm:px-12 sm:py-0 px-6 py-0;
}
